name: pull_request_verify

on:
    pull_request:
        branches:
            - master

jobs:
    build_and_test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 22
            - name: Enable corepack
              run: corepack enable
            - run: yarn install --immutable
            - run: yarn test
